#messagesDiv .chip {
	margin-right: 3%;
	margin-left: 1%;
	margin-top: 1%;
}

#header i {
	font-size: 4rem;
	cursor: pointer;
}

#header {
	font-size: 3rem;
}

#login img , #logout{
	cursor: pointer;
}
#profile-pic {
	max-width: 30px;
}
nav a i{
	color: #fff;

}

nav a {
	font-size: 36px;

}